{% extends "page.html" %}

{% block content %}
	{% if user.id %}
		{# Update a existing user #}
		<h1>Update User</h1>
		<form action="/users/{{ user.id }}" method="PATCH">
	{% else %}
	    {# Create a new user #}
	    <h1>New User</h1>
		<form action="/users" method="POST">
	{% endif %}
	
	<label for="username">Username</label>
	<input name="username" type="text" value="{{ user.username }}" /><br/>
	
	<label for="admin">Admin</label>
	<input name="admin" type="checkbox" {% if user.admin %}checked{% endif %} /><br/>
	
	<label for="name">Real Name</label>
	<input name="name" type="text" value="{{ user.name }}" /><br/>
	
	<input type="submit" />
	
	</form>
{% endblock %}