{% extends "page.html" %}

{% block content %}
	<h1>{{ header }}</h1>
	<form action="/users/{{ user.id }}" method="POST">
			
		<label for="username">Username</label>
		{% if user %}<input name="_username" type="hidden" value="{{ user.username }}" />{% endif %}
		<input name="username" type="text" value="{{ user.username }}" /><br/>
		
		{% if not user %}
		<label for="password">Password</label>
		<input name="password" type="password"/><br/>
		{% endif %}
		
		<label for="admin">Admin</label>
		{% if user %}<input name="_admin" type="hidden" value="{{ user.admin }}" />{% endif %}
		<input name="admin" type="checkbox" {% if user.admin %}checked{% endif %} /><br/>
		
		<label for="name">Real Name</label>
		{% if user %}<input name="_name" type="hidden" value="{{ user.name }}" />{% endif %}
		<input name="name" type="text" value="{{ user.name }}" /><br/>
		
		<input type="submit" value="{{ submit }}"/>
		
	</form>
	
	{% if user %}
	<form action="/users/delete/{{ user.id }}" method="post">
		<input type="submit" value="Delete" />
	</form>
	{% endif %}
	
{% endblock %}